* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a {
    color: #FF5F6D;
    text-decoration: none;
}

.site-logo {
    max-height: 200px;
    max-width: 610px;
    width: 80%;
}

.site-header {
    background: #fff no-repeat 50%;
    background-size: contain;
}

.site-header:before {
    background: none;
}

.site-header:after {
    background: none;
}

.site-footer {
    background: white;
}

.site-footer-content, .site-footer-content a {
    color: #9eabb3;
}

.site-footer-content a:hover {
    color: #697277;
}

.site-wrapper {
    min-height: 0;
    width: 100%;
}

.site-nav {
    font-family: 'Roboto', sans-serif;
    color: #090a0b;
    font-weight: 900;
}

.nav li a {
    text-transform: uppercase;
    color: #090a0b;
}

.nav-current a {
    color: #FF5F6D;
    background: linear-gradient(to right, #FF5F6D, #FFC371);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-title {
    color: #090a0b;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.site-description {
    color: #090a0b;
}

.home-template {
    background: white;
}

.post-card {
    font-family: 'Libre Baskerville', serif;
    box-shadow: 8px 14px 38px rgba(56, 95, 134, 0.1), 1px 3px 8px rgba(54, 126, 197, 0.03);
}

.post-card-excerpt {
    font-family: 'Roboto', sans-serif;
}

.post-card-tags {
    font-family: 'Roboto', sans-serif;
}

.post-card-author {
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    letter-spacing: 0px;
}

.post-full-title {
    font-family: 'Libre Baskerville', serif;
    margin: .5em 0 .5em;
    font-size: 4rem;
}

.post-full-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    line-height: 1.58!important;
    letter-spacing: -.003em;
}

.post-full-content h1, .post-full-content h2, .post-full-content h3, .post-full-content h4, .post-full-content h5, .post-full-content h6 {
    color: #090a0b;
    font-family: 'Libre Baskerville', serif;
}

.post-full-content h2 {
    margin: 1em 0 1em;
}

.post-full-content a {
    color: #FF5F6D;
    background: linear-gradient(to right, #FF5F6D, #FFC371);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    box-shadow: none;
}

.author-meta {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.author-card-content {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.pagination a {
    color: white;
    display: block;
    max-width: 200px;
    margin: 0 auto 30px auto;
    text-decoration: none;
}

.pagination a:hover:before {
    filter: blur(14px) opacity(.6);
}

.pagination a:hover:after {
    filter: blur(14px) opacity(.6);
}

.pagination a:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(14px) opacity(1);
    transition: all .2s ease-in-out;
}

.pagination a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(14px) opacity(1);
    transition: all .2s ease-in-out;
}

.older-posts {
    -webkit-appearance: none;
    border: 6px solid rgba(255, 255, 255, 0.45);
    border-radius: 50px;
    padding: 1em 3em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    position: relative;
    color: #FFF;
    background-image: linear-gradient(90deg, #FF5F6D, #FFC371);
}

.older-posts:before {
    background-image: linear-gradient(90deg, #FF5F6D, transparent);
}

.older-posts:after {
    background-image: linear-gradient(90deg, transparent, #FFC371);
}

.newer-posts {
    -webkit-appearance: none;
    border: 6px solid rgba(255, 255, 255, 0.45);
    border-radius: 50px;
    padding: 1em 3em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    position: relative;
    color: #FFF;
    background-image: linear-gradient(90deg, #FF5F6D, #FFC371);
}

.newer-posts:before {
    background-image: linear-gradient(90deg, #FF5F6D, transparent);
}

.newer-posts:after {
    background-image: linear-gradient(90deg, transparent, #FFC371);
}

.social-link svg {
    fill: #090a0b;
}

.subscribe-button {
    color: #090a0b;
    border-color: #090a0b;
}

@media (min-width: 900px) {
    body {
        min-height: 100vh;
        padding: 16px;
        border-top: 8px solid #FFC371;
        border-bottom: 8px solid #FF5F6D;
        background-image: linear-gradient(#FFC371, #FF5F6D), linear-gradient(#FFC371, #FF5F6D)!important;
        background-size: 8px 100%!important;
        background-position: 0 0, 100% 0!important;
        background-repeat: no-repeat!important;
        overflow-y: hidden;
    }
}

.highlight pre {
    box-shadow: 8px 14px 38px rgba(56, 95, 134, 0.1), 1px 3px 8px rgba(54, 126, 197, 0.03);
}