.site-logo{
    max-height:200px;
    max-width: 610px;
    width: 80%;
}

.site-header {
    background: #fff no-repeat 50%;
    background-size: contain;
}

.site-title {
    text-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

.site-header::before {
    background: linear-gradient(to right, rgba(42, 94, 76, 0.7), rgba(113, 178, 128, 0.7));
}

.site-description {
    text-shadow: 0 2px 2px rgba(0,0,0,0.25);
}