<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" />
    {{ partial "head" . }}
<body class="error-template">
<div class="site-wrapper">
    {{ partial "header-sori-error" . }}
    <main id="site-main" class="site-main outer" role="main">
            <div class="inner">
                <section class="error-message">
                    <h1 class="error-code">Offline</h1>
                    <p class="error-description">{{ .Site.Params.pageOfflineTitle }}</p>
                    <a class="error-link" href="{{"/"|absURL}}">Go to the front page →</a>
                </section>
            </div>
        </main>
        {{ partial "footer" . }}
    </div>
    {{ partial "js" . }}
    </body>
</html>